[Desktop Entry]
Name=Whatsapp
Comment=A simple wrapper for whatsapp
Type=Application
Exec=gtkwhats
Terminal=false
Categories=Utility;GTK;
Keywords=Rust;Flatpak;GTK;
Icon=com.gigitux.gtkwhats
StartupNotify=false
