[Desktop Entry]
Name=Youp for Whatsapp
Comment=A wrapper for whatsapp written in Rust
Type=Application
Exec=youp
Terminal=false
Categories=Utility;GTK;
Keywords=Rust;Flatpak;GTK;
Icon=com.gigitux.youp
StartupNotify=false
